# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.pytest_cache
.coverage
htmlcov/

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
.env
data/output/*
!data/output/.gitkeep
notebooks/.ipynb_checkpoints

# Documentation
docs/_build
